html {
  background-color: #000;
  color: #fff;
}

.cursive {
  font-family: "Homemade Apple", cursive;
}

.simplecursive {
  font-family: "Bilbo Swash Caps", cursive;
}

.serif {
  font-family: Alegreya, serif;
}

.red {
  color: #720000;
}

.lightred {
  color: #BF959E;
}

.lightred2 {
  color: #A16F79;
}

.mauve {
  color: #762F50;
}
