html {
  background-color: #000;
  color: #fff;
}

.darkgrey {
  background-color: #121212;
}
.cursive {
  font-family: "Homemade Apple", cursive;
}

.simplecursive {
  font-family: "Bilbo Swash Caps", cursive;
}

.serif {
  font-family: Alegreya, serif;
}

.red {
  color: #720000;
}

.lightred {
  color: #bf959e;
}

.lightred2 {
  color: #a16f79;
}

.mauve {
  color: #440ec1;
}
